/* numero.component.scss */
.numero {
    width: 243px;
    height: 123px;
    background-color: #004A98;
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
  }
  